<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="shop-head(title)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" th:href="@{/shop/img/fav.png}">
  <meta name="author" content="Zero Sportswear">
  <title th:text="${title}">Zero | Sportswear</title>

  <!-- CSS Dependencies -->
  <link rel="stylesheet" th:href="@{/shop/css/linearicons.css}">
  <link rel="stylesheet" th:href="@{/shop/css/font-awesome.min.css}">
  <link rel="stylesheet" th:href="@{/shop/css/themify-icons.css}">
  <link rel="stylesheet" th:href="@{/shop/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/shop/css/owl.carousel.css}">
  <link rel="stylesheet" th:href="@{/shop/css/nice-select.css}">
  <link rel="stylesheet" th:href="@{/shop/css/nouislider.min.css}">
  <link rel="stylesheet" th:href="@{/shop/css/ion.rangeSlider.css}">
  <link rel="stylesheet" th:href="@{/shop/css/ion.rangeSlider.skinFlat.css}">
  <link rel="stylesheet" th:href="@{/shop/css/magnific-popup.css}">
  <link rel="stylesheet" th:href="@{/shop/css/main.css}">
  <link rel="stylesheet" th:href="@{/shop/css/theme-palette.css}">
</head>
<body></body>
</html>
