<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="shop-scripts">
  <script src="../../../static/shop/js/vendor/jquery-2.2.4.min.js" th:src="@{/shop/js/vendor/jquery-2.2.4.min.js}"></script>
  <script src="../../../static/shop/js/vendor/popper.js" th:src="@{/shop/js/vendor/popper.js}"></script>
  <script src="../../../static/shop/js/vendor/bootstrap.min.js" th:src="@{/shop/js/vendor/bootstrap.min.js}"></script>
  <script src="../../../static/shop/js/jquery.ajaxchimp.min.js" th:src="@{/shop/js/jquery.ajaxchimp.min.js}"></script>
  <script src="../../../static/shop/js/jquery.nice-select.min.js" th:src="@{/shop/js/jquery.nice-select.min.js}"></script>
  <script src="../../../static/shop/js/jquery.sticky.js" th:src="@{/shop/js/jquery.sticky.js}"></script>
  <script src="../../../static/shop/js/nouislider.min.js" th:src="@{/shop/js/nouislider.min.js}"></script>
  <script src="../../../static/shop/js/countdown.js" th:src="@{/shop/js/countdown.js}"></script>
  <script src="../../../static/shop/js/jquery.magnific-popup.min.js" th:src="@{/shop/js/jquery.magnific-popup.min.js}"></script>
  <script src="../../../static/shop/js/owl.carousel.min.js" th:src="@{/shop/js/owl.carousel.min.js}"></script>
  <script src="../../../static/shop/js/main.js" th:src="@{/shop/js/main.js}"></script>
</th:block>
</body>
</html>
