<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="scripts">
  <script th:src="@{/shop/js/vendor/jquery-2.2.4.min.js}" src="/shop/js/vendor/jquery-2.2.4.min.js"></script>
  <script th:src="@{/shop/js/vendor/popper.js}" src="/shop/js/vendor/popper.js"></script>
  <script th:src="@{/shop/js/vendor/bootstrap.min.js}" src="/shop/js/vendor/bootstrap.min.js"></script>
  <script th:src="@{/shop/js/jquery.ajaxchimp.min.js}" src="/shop/js/jquery.ajaxchimp.min.js"></script>
  <script th:src="@{/shop/js/jquery.nice-select.min.js}" src="/shop/js/jquery.nice-select.min.js"></script>
  <script th:src="@{/shop/js/jquery.sticky.js}" src="/shop/js/jquery.sticky.js"></script>
  <script th:src="@{/shop/js/nouislider.min.js}" src="/shop/js/nouislider.min.js"></script>
  <script th:src="@{/shop/js/countdown.js}" src="/shop/js/countdown.js"></script>
  <script th:src="@{/shop/js/jquery.magnific-popup.min.js}" src="/shop/js/jquery.magnific-popup.min.js"></script>
  <script th:src="@{/shop/js/owl.carousel.min.js}" src="/shop/js/owl.carousel.min.js"></script>
  <script th:src="@{/shop/js/main.js}" src="/shop/js/main.js"></script>
</div>
</body>
</html>
