<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="admin-scripts">
  <div class="sidebar-overlay" id="sidebar-overlay"></div>
  <script th:src="@{/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/admin/assets/libs/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/admin/assets/libs/flatpickr/flatpickr.min.js}"></script>
  <script th:src="@{/admin/assets/js/dashboard.js}"></script>
</th:block>
</body>
</html>
