<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="scripts">
  <script th:src="@{/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js}" src="/admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script th:src="@{/admin/assets/libs/apexcharts/apexcharts.min.js}" src="/admin/assets/libs/apexcharts/apexcharts.min.js"></script>
  <script th:src="@{/admin/assets/libs/flatpickr/flatpickr.min.js}" src="/admin/assets/libs/flatpickr/flatpickr.min.js"></script>
  <script th:src="@{/admin/assets/js/dashboard.js}" src="/admin/assets/js/dashboard.js"></script>
</div>
</body>
</html>